# Port Server Backend Express
PORT=5000

# Konfigurasi Koneksi Database MySQL
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=nurulaitam_db

# Kunci Rahasia JWT (Untuk Autentikasi Admin Panel)
JWT_SECRET=nurulaitam_super_secret_key_123!
